<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon.png">
    <link rel="stylesheet" href="style.css">
    <title>Instagram</title>
</head>

<body>
    <div class="container">
        <!-- left section -->
        <div class="left">
            <div>
                <div class="heading">
                    <img src="./assets/assets (1).svg" class="svg">
                </div>
                <nav class="nav">
                    <div class="inner-nav">
                        <div><img src="./assets/assets (8).svg" class="svg"></div>
                        <div>
                            <p>Home</p>
                        </div>
                    </div>
                    <div class="inner-nav">
                        <div><img src="./assets/assets (7).svg" class="svg"></div>
                        <div>
                            <p>Search</p>
                        </div>
                    </div>
                    <div class="inner-nav">
                        <div><img src="./assets/assets (9).svg" class="svg"></div>
                        <div>
                            <p>Explore</p>
                        </div>
                    </div>
                    <div class="inner-nav">
                        <div><img src="./assets/assets (6).svg" class="svg"></div>
                        <div>
                            <p><b>Reels</b></p>
                        </div>
                    </div>
                    <div class="inner-nav">
                        <div><img src="./assets/assets (5).svg" class="svg"></div>
                        <div>
                            <p>Messages</p>
                        </div>
                    </div>
                    <div class="inner-nav">
                        <div><img src="./assets/assets (4).svg" class="svg"></div>
                        <div>
                            <p>Notifications</p>
                        </div>
                    </div>
                    <div class="inner-nav">
                        <div><img src="./assets/assets (10).svg" class="svg"></div>
                        <div>
                            <p>Create</p>
                        </div>
                    </div>
                    <div class="inner-nav">
                        <div><img src="./assets/user.svg" class="svg" width="25"></div>
                        <div>
                            <p>Profile</p>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="nav">
                <div class="inner-nav">
                    <div><img src="./assets/assets (3).svg" class="svg"></div>
                    <div>
                        <p>Threads</p>
                    </div>
                </div>
                <div class="inner-nav">
                    <div><img src="./assets/assets (2).svg" class="svg"></div>
                    <div>
                        <p>More</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- right section -->
        <!-- right section -->
        <div class="right">
            <div class="reels-wrapper">
                <div class="reels-scroll-container">
                    <!-- reel cards start -->

                    <div class="reel">
                        <video width="100%" height="100%" autoplay loop muted>
                            <source
                                src="https://raw.githubusercontent.com/orrin-temp/reels/101ef3786fe308d2044816639e479a036579ed66/reel7.mp4"
                                type="video/mp4">
                        </video>
                    </div>
                    <div class="reel">
                        <video width="100%" height="100%" autoplay loop muted>
                            <source
                                src="https://raw.githubusercontent.com/orrin-temp/reels/101ef3786fe308d2044816639e479a036579ed66/reel6.mp4"
                                type="video/mp4">
                        </video>
                    </div>
                    <div class="reel">
                        <video width="100%" height="100%" autoplay loop muted>
                            <source
                                src="https://raw.githubusercontent.com/orrin-temp/reels/101ef3786fe308d2044816639e479a036579ed66/reel5.mp4"
                                type="video/mp4">
                        </video>
                    </div>

                    <!-- reel cards end -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>