*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100vh;
    width: 100%;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
}
.left{
    height: 100%;
    width: 17.5%;
    background-color: black;
    border-right: 1px solid rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem 1.5rem;
}
.svg {
    filter: invert(100%);
}
.inner-nav{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: .95rem;
}
.heading{
    margin-bottom: 2.8rem;
}
.nav{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.right{
    position: relative;
    width: 82.5%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reel{
    /* border: 1px solid white; */
    height: 84vh;
    width: 28rem;
    margin: 20px 0;
    border-radius: 5px;
    /* scale: 1.1; */
    overflow: hidden;
    border: 1px solid white;
    position: relative;
}
.reels-wrapper {
    height: 100vh;
    overflow: hidden; /* Hide the scrollbar */
}
.reels-scroll-container {
    height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden;
    margin-right: -17px; 
    margin-bottom: -10px;
}
.side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 20px;
    bottom: 100px;
}
.under-profile{
    position: absolute;
    bottom: 100px;
    left: 20px;
    font-size: .8rem;
}
.under-profile .inner{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.under-profile .follow{
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}
/* signup page */
.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 17px;
    flex-direction: column;
}
.form{
    /* height: 48rem; */
    border: 1px solid rgb(194, 194, 194);
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    width: 22rem;
}
.input-container{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.input-container input{
    height: 45px;
    margin: 10px 0;
    padding-left: 10px ;
    border-radius: 5px;
    border: 1px solid rgb(179, 179, 179);
    background-color: #f1f1f1;
    outline: none;
}
.align{
    text-align: center;
}
.login-facebook{
    width: 90%;
}
.fb-btn{
    height: 45px;
    width: 100%;
    background-color: #0095F6;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.signupbtn{
    width: 90%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #4CB4F8;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.bold{
    font-weight: bold;
    color: rgb(151, 151, 151);
}
.downtext{
    font-size: .8rem;
    color: rgb(118, 118, 118);
}
.padding{
    padding: 10px 0;
}
.downform{
    width: 22rem;
    border: 1px solid rgb(194, 194, 194);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 4rem;
    font-size: .9rem;
    margin-bottom: 10px;
}
.downform a{
    text-decoration: none;
}
.getapp img{
    width: 130px;
    height: 45px;
}
.footer{
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
    font-size: .8rem;
    color: rgb(158, 158, 158);
}
.footer p{
    margin-top: 10px;
    font-size: .9rem;
    color: rgb(158, 158, 158);
}
.fpass{
    font-size: .8rem;
    margin-top: 20px;
    cursor: pointer;
}
.login{
    margin-top: 7rem;
}