*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100vh;
    width: 100%;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
}
.left{
    height: 100%;
    width: 17.5%;
    background-color: black;
    border-right: 1px solid rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem 1.5rem;
}
.svg {
    filter: invert(100%);
}
.inner-nav{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: .95rem;
}
.heading{
    margin-bottom: 2.8rem;
}
.nav{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.right{
    position: relative;
    width: 82.5%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reel{
    /* border: 1px solid white; */
    height: 84vh;
    width: 28rem;
    margin: 20px 0;
    border-radius: 5px;
    /* scale: 1.1; */
    overflow: hidden;
    border: 1px solid white;
    position: relative;
}
.reels-wrapper {
    height: 100vh;
    overflow: hidden; /* Hide the scrollbar */
}
.reels-scroll-container {
    height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden;
    margin-right: -17px; 
    margin-bottom: -10px;
}
.side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 20px;
    bottom: 100px;
}
.under-profile{
    position: absolute;
    bottom: 100px;
    left: 20px;
    font-size: .8rem;
}
.under-profile .inner{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.under-profile .follow{
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}